In [29]:
import numpy as np
import pandas as pd

In [30]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [31]:
main_path = '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/full_data/main_df.csv'
folder_path = '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/'

In [32]:
from glob import glob


"""
Get all paths to the files
"""
paths = glob(folder_path + "*.csv", recursive=True)
paths

['/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/M03R.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/H3R.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/S03.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/I01R.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/A5bsung.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/B1.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/P07F.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/S01.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/R01.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/B2.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/A3bsung.csv',
 '/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/edge_data_folder/S04.csv']

In [33]:
df = pd.read_csv(main_path)
df.head(2)

,Unnamed: 0,eng,ni1,ni2,vn
0,0,arthropathology (n),"[,@:8r6up6‚Äô80l6d2i]",k,b·ªánh h·ªçc kh·ªõp
1,1,-arthropathy (n),[@:‚Äô8r0p68i],arthropathie (f),b·ªánh kh·ªõp

In [34]:
df.shape

(31481, 5)

In [35]:
to_be_concatted = []
for p in paths:
  df_append = pd.read_csv(p)
  to_be_concatted.append(df_append)

In [36]:
final = pd.concat(to_be_concatted, ignore_index=True)
final.head()

,eng,ni1,ni2,vn,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,metaxeny ü°™ metoxeny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,metazoa (n.pl) ü°™ metazoon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,metazoal (a),"[,met6‚Äôz6u6l]",m√©tazoaire (a),ƒë·ªông v·∫≠t ƒëa b√†o (th),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"metazoan (a,n)","[,met6‚Äôz6u6n]","m√©tazoaire (a,m)",ƒë·ªông v·∫≠t ƒëa b√†o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,metazoon (n),"[,met6‚Äôz6u 0n]",m√©tazoaire (m),ƒë·ªông v·∫≠t ƒëa b√†o,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
dropped = ['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13']
final = final.drop(dropped, axis=1)
final.shape

(7553, 4)

In [38]:
final = pd.concat([df, final], ignore_index=True) 
final.head(2)

,Unnamed: 0,eng,ni1,ni2,vn
0,0.0,arthropathology (n),"[,@:8r6up6‚Äô80l6d2i]",k,b·ªánh h·ªçc kh·ªõp
1,1.0,-arthropathy (n),[@:‚Äô8r0p68i],arthropathie (f),b·ªánh kh·ªõp

In [39]:
final = final.drop('Unnamed: 0', axis=1)
final.shape

(39034, 4)

In [40]:
#final.to_csv('/content/drive/MyDrive/Fall 2022 - Assignment/Software Construction/Project/full_data/final_df.csv')

In [41]:
final.head()

,eng,ni1,ni2,vn
0,arthropathology (n),"[,@:8r6up6‚Äô80l6d2i]",k,b·ªánh h·ªçc kh·ªõp
1,-arthropathy (n),[@:‚Äô8r0p68i],arthropathie (f),b·ªánh kh·ªõp
2,arthrophyma (n),"[,@:8r6u‚Äôfaim6]",k,s∆∞ng kh·ªõp
3,arthrophyte (n),[‚Äò@:8r6fait],arthrophyte (m),d·ªã v·∫≠t kh·ªõp
4,-arthroplasty (n) / arthroplastic (a),"[‚Äò@:8r6u,pl`sti] [,@:8r6u‚Äôpl`stik]",arthroplastie (f),t·∫°o h√¨nh kh·ªõp (thth)